<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    @Styles.Render("~/bundles/Content/css")
    @Scripts.Render("~/bundles/shoppinglistappscripts")
    <title>@ShoppingListApp.I18N.Resources.Views.Shared._Layout.AppTitle</title>
</head>
<body class="bg-info">

    <div class="container-fluid">

        <div id="page_header" class="row well-sm">
            <div class="col-xs-0 col-md-3"></div>
            <div class="col-xs-12 col-md-6">
                <div class="pull-left">
                    @Html.Partial("LogOnStatus")
                </div>
                <div class="btn-group-xs pull-right">
                    @Html.Partial("GetUserCulture")
                </div>
            </div>
            <div class="col-xs-0 col-md-3"></div>
        </div>
        
        <div class="row">
            <div class="col-xs-0 col-md-3"></div>
            <div class="col-xs-12 col-md-6">
                @RenderBody()
            </div>
            <div class="col-xs-0 col-md-3"></div>
        </div>

        <div class="row">
            <div class="col-xs-0 col-md-3"></div>
            <div class="col-xs-12 col-md-6">
                <span class="pull-right small">2015 - Jonathan Orditz</span>
                <span class="glyphicon glyphicon-copyright-mark pull-right"></span>
            </div>
            <div class="col-xs-0 col-md-3"></div>
        </div>
    </div>
</body>
</html>