@model IEnumerable<Item>

<div class="panel panel-primary">
    <div class="panel-heading text-uppercase">
        <h1 class="panel-title text-uppercase">@ShoppingListApp.I18N.Resources.Views.Home.IndexCommon.Items</h1>
    </div>

    <div class="panel-body">
        <table class="table">
            <tbody>
                @foreach (Item item in @Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(@item.ItemName.ToString(), "ModifyItem", "Item", new { itemToModifyId = item.ItemId }, new { @class = "btn btn-primary" })
                        </td>
                        <td>
                            @using (@Html.BeginForm("RemoveItem", "Item"))
                            {
                                @Html.Hidden("itemToRemoveId", item.ItemId)
                                <button typeof="submit" class="btn btn-danger">@ShoppingListApp.I18N.Resources.Views.Home.IndexCommon.Delete</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="panel-footer clearfix">
        @using (@Html.BeginForm("AddNewItem", "Item"))
        {
            @Html.TextBox("newItemName", @ShoppingListApp.I18N.Resources.Views.Item.ItemsCommon.YourItemName, new { @autofocus = "autofocus" })
            <button typeof="submit" class="btn btn-success">@ShoppingListApp.I18N.Resources.Views.Item.ItemsCommon.AddNewItem</button>
        }
    </div>
</div>
<div>
    @Html.Partial("BackToMainMenu")
</div>