@model Item

<div class="panel panel-primary">
    <div class="panel-body">
        @using (@Html.BeginForm("ModifyItem", "Item"))
        {
            @Html.Hidden("itemToModifyId", @Model.ItemId)
            @Html.TextBox("itemToModifyNewName", @Model.ItemName)
            <button type="submit" class="btn btn-success">@ShoppingListApp.I18N.Resources.Views.Item.ItemsCommon.Modify</button>
        }
    </div>
    <div class="panel-footer"></div>
</div>
<div>
    @Html.ActionLink(@ShoppingListApp.I18N.Resources.Views.Item.ItemsCommon.BackToItems, "Items", "Item", null, new { @class = "btn btn-success btn-lg" })
</div>

