@model Item

<div class="panel panel-primary">
    <div class="panel-body">
        @using (@Html.BeginForm("ModifyItem", "Item"))
        {
            @Html.Hidden("itemToModifyId", @Model.ItemId)
            <div class="input-group"> 
                @Html.TextBox("itemToModifyNewName", @Model.ItemName, new { @class = "form-control", @autofocus = "autofocus" })
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                </span>  
            </div>
        }
    </div>
    <div class="panel-footer"></div>
</div>
<div>
    <a href="@Url.Action("Items", "Item")" class="btn btn-success btn-lg">
        <span class="glyphicon glyphicon-arrow-left"></span>
    </a>
</div>

