@using ShoppingListApp.Domain.Entities
@model Article

@{
    ViewBag.Title = "ModifyArticle";
}

<div>
    @using (@Html.BeginForm("ModifyArticle", "Article"))
    { 
        @Html.Hidden("articleToModifyID", @Model.ArticleID)
        @Html.TextBox("articleToModifyNewName", @Model.ArticleName)
        <button type="submit" class="btn btn-success">Modify</button>
    }
</div>

<div class="row">
    @Html.ActionLink("Back To Articles", "Articles", "Article", null, new { @class = "btn btn-success navbar-btn btn-lg" })
</div>

