@model Article

<div class="panel panel-primary">
    <div class="panel-body">
        @using (@Html.BeginForm("ModifyArticle", "Article"))
        {
            @Html.Hidden("articleToModifyID", @Model.ArticleID)
            @Html.TextBox("articleToModifyNewName", @Model.ArticleName)
            <button type="submit" class="btn btn-success">@ShoppingListApp.i18n.Resources.Views.Item.ItemsCommon.Modify</button>
        }
    </div>
    <div class="panel-footer"></div>
</div>
<div>
    @Html.ActionLink(@ShoppingListApp.i18n.Resources.Views.Item.ItemsCommon.BackToItems, "Articles", "Article", null, new { @class = "btn btn-success btn-lg" })
</div>

