@model ShoppingList

<div class="panel panel-primary">
    <div class="panel-heading text-uppercase">
        <h1 class="panel-title">@ShoppingListApp.i18n.Resources.Views.ShoppingList.ShoppingListsCommon.EditShoppingList</h1>
    </div>

    <div class="panel-body">
        @using (@Html.BeginForm("SaveShoppingList", "ShoppingList"))
        {
            <div class="form-group">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.HiddenFor(shoppinglist => shoppinglist.ShoppingListID, new { @class = "form-control" })
                @Html.Label(@ShoppingListApp.i18n.Resources.Views.ShoppingList.ShoppingListsCommon.Name)
                @Html.TextBoxFor(shoppinglist => shoppinglist.ShoppingListName, new { @class = "form-control" })
                @Html.Label(@ShoppingListApp.i18n.Resources.Views.ShoppingList.ShoppingListsCommon.DueDate)
                @* Universal Sortable Format Specifier "u": 2015-04-13 13:30:00Z - we need only the date *@
                @Html.TextBoxFor(shoppinglist => shoppinglist.ShoppingListDueDate, Model.ShoppingListDueDate.ToString("u").Split(' ')[0], new { @class = "form-control", @id = "_datetimepicker_" + ConfiguredCultures.getCurrentUICulture(), type = "text" })
            </div>

            <div class="form-group">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@ShoppingListApp.i18n.Resources.Views.ShoppingList.ShoppingListsCommon.Name</th>
                            <th>@ShoppingListApp.i18n.Resources.Views.ShoppingList.ShoppingListsCommon.Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < @Model.ShoppingListContent.Count(); i++)
                        {
                            <tr>
                                @Html.HiddenFor(shoppinglist => shoppinglist.ShoppingListContent[i].ItemToBuy.ItemID)
                                @Html.HiddenFor(shoppinglist => shoppinglist.ShoppingListContent[i].ItemToBuy.ItemName)
                                <td>
                                    @Html.Label(Model.ShoppingListContent[i].ItemToBuy.ItemName)
                                </td>
                                <td>
                                    @Html.TextBoxFor(shoppinglist => shoppinglist.ShoppingListContent[i].QuantityToBuy, new { @class = "quantity_spinner" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div>
                <input type="submit" value=@ShoppingListApp.i18n.Resources.Views.ShoppingList.ShoppingListsCommon.Save class="btn btn-success btn-lg" />
            </div>

        }
    </div>
</div>
<div>
    @Html.Partial("BackToShoppingLists")
</div>

