@using ShoppingListApp.Domain.Concrete
@model ShoppingList

<div style="margin-bottom:10px">
    @Html.Partial("BackToShoppingLists")
</div>

<div class="panel panel-primary">
    <div class="panel-heading text-uppercase">
        <h1 class="panel-title">@ShoppingListApp.I18N.Resources.Views.ShoppingList.ShoppingListsCommon.EditShoppingList</h1>
    </div>
        @using (@Html.BeginForm("SaveShoppingList", "ShoppingList", new { returnUrl = Request.Url.PathAndQuery }))
        {
            <div class="panel-body">
                <div class="form-group">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.HiddenFor(shoppinglist => shoppinglist.ShoppingListId, new { @class = "form-control" })
                    @Html.Label(@ShoppingListApp.I18N.Resources.Views.ShoppingList.ShoppingListsCommon.Name)
                    @Html.TextBoxFor(shoppinglist => shoppinglist.ShoppingListName, new { @class = "form-control" })
                    @Html.Label(@ShoppingListApp.I18N.Resources.Views.ShoppingList.ShoppingListsCommon.DueDate)
                    @* Universal Sortable Format Specifier "u": 2015-04-13 13:30:00Z - we need only the date *@
                    @Html.TextBoxFor(shoppinglist => shoppinglist.ShoppingListDueDate, Model.ShoppingListDueDate.ToString("u").Split(' ')[0], new { @class = "form-control", @id = "_datetimepicker_" + CurrentCultureConfiguration.GetCurrentUICulture, type = "text" })
                </div>

                <div class="form-group">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    @foreach (string category in ViewBag.existingCategories)
                    {
                        string categoryFixedAsValidParameterName = category.Replace(" ", "");
                        
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="@("heading" + categoryFixedAsValidParameterName)">
                                <h4 class="panel-title text-center">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="@("#collapse" + categoryFixedAsValidParameterName)" aria-expanded="false" aria-controls="@("collapse" + categoryFixedAsValidParameterName)">
                                        @category
                                    </a>
                                </h4>
                            </div>
                            <div id="@("collapse" + categoryFixedAsValidParameterName)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@("heading" + categoryFixedAsValidParameterName)">
                                <div class="panel-body">
                                    <table class="table" style="border-collapse:collapse;">
                                        <thead>
                                            <tr>
                                                <th width="20%">@ShoppingListApp.I18N.Resources.Views.ShoppingList.ShoppingListsCommon.Name</th>
                                                <th width="40%">@ShoppingListApp.I18N.Resources.Views.ShoppingList.ShoppingListsCommon.Quantity</th>
                                                <th width="40%">@ShoppingListApp.I18N.Resources.Views.ShoppingList.ShoppingListsCommon.Unit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < @Model.ShoppingListContent.Count(); i++)
                                            {
                                                if (@Model.ShoppingListContent[i].ItemToBuy.ItemCategory == category)
                                                {
                                                    <tr>
                                                        @Html.HiddenFor(shoppinglist => shoppinglist.ShoppingListContent[i].ItemToBuy.ItemId)
                                                        @Html.HiddenFor(shoppinglist => shoppinglist.ShoppingListContent[i].ItemToBuy.ItemName)
                                                        @Html.HiddenFor(shoppinglist => shoppinglist.ShoppingListContent[i].ItemToBuy.ItemCategory)
                                                        @Html.HiddenFor(shoppinglist => shoppinglist.ShoppingListContent[i].Done)
                                                        <td width="20%">
                                                            @Html.Label(@Model.ShoppingListContent[i].ItemToBuy.ItemName)
                                                        </td>
                                                        <td width="40%">
                                                            @Html.TextBoxFor(shoppinglist => shoppinglist.ShoppingListContent[i].QuantityToBuy, new { @class = "quantity_spinner" })
                                                        </td>
                                                        <td width="40%">
                                                            @Html.DropDownListFor(shoppinglist => shoppinglist.ShoppingListContent[i].Unit, new SelectList(UnitsUtils.Units.Values, @Model.ShoppingListContent[i].Unit), new { @class = "form-control" })
                                                        </td>

                                                    </tr>
                                                }
                                            }

                                        </tbody> 
                                    </table>    
                                </div> 
                            </div> 
                        </div>
                    }
                                                     
                     </div>
                </div>

                <div class="pull-right">
                    <button type="submit" class="btn btn-success btn-lg">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                </div>
            </div>
            
            <div class="panel-footer clearfix">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                    @Html.TextBox("newItemName", null, new { @class = "form-control", @placeholder = @ShoppingListApp.I18N.Resources.Views.Item.ItemsCommon.YourItemName })
                </div>
            </div>
         }
</div>
<div>
    @Html.Partial("BackToShoppingLists")
</div>

