@model ShoppingList

<div style="margin-bottom:10px;">
    @Html.Partial("BackToShoppingLists")
    @Html.Partial("BackToMainMenu")
</div>

<div class="panel panel-primary">
    <div class="panel-heading text-uppercase">
        <span class="pull-right">@Model.ShoppingListDueDate.ToString("d", ConfiguredCultures.GetCurrentUICulture)</span>
        <h1 class="panel-title">@Model.ShoppingListName</h1> 
    </div>

    <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>@ShoppingListApp.I18N.Resources.Views.ShoppingList.ShoppingListsCommon.Name</th>
                        <th>@ShoppingListApp.I18N.Resources.Views.ShoppingList.ShoppingListsCommon.Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ShoppingListLine line in @Model.ShoppingListContent.OrderBy(line => line.LinePresentationOrder))
                    {
                        <tr>
                            <td class="strikethrough_toggler">
                                @line.ItemToBuy.ItemName
                            </td>
                            <td>
                                @line.QuantityToBuy
                            </td>
                            <td>
                                @using (@Html.BeginForm("DeleteShoppingListLine", "ShoppingList", new { returnUrl = Request.Url.PathAndQuery }))
                                {
                                    @Html.Hidden("shoppingListId", @Model.ShoppingListId)
                                    @Html.Hidden("itemId", @line.ItemToBuy.ItemId)
                                    <button type="submit" class="btn btn-danger">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
    </div>
</div>
<div>
    @Html.Partial("BackToShoppingLists")
    @Html.Partial("BackToMainMenu")
</div>