@model IEnumerable<ShoppingList>

<div class="panel panel-primary">
    <div class="panel-heading text-uppercase">
        <h1 class="panel-title">@ShoppingListApp.i18n.Resources.Views.Home.IndexCommon.ShoppingLists</h1>
    </div>

    <div class="panel-body">
        <table class="table">
            <tbody>
                @foreach (ShoppingList shoppinglist in @Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(@shoppinglist.ShoppingListName, "ShowShoppingList", "ShoppingList", new { shoppingListID = shoppinglist.ShoppingListID }, new { @class = "btn btn-primary" })
                        </td>
                        <td>
                            @Html.ActionLink(@ShoppingListApp.i18n.Resources.Views.ShoppingList.ShoppingListsCommon.Edit, "ModifyShoppingList", "ShoppingList", new { shoppinglistID = shoppinglist.ShoppingListID }, new { @class = "btn btn-danger" })
                        </td>
                        <td>
                            @using (@Html.BeginForm("RemoveShoppingList", "ShoppingList"))
                            {
                                @Html.Hidden("shoppinglistToRemoveID", shoppinglist.ShoppingListID)
                                <button typeof="submit" class="btn btn-danger">@ShoppingListApp.i18n.Resources.Views.Home.IndexCommon.Delete</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="panel-footer clearfix">
        @using (@Html.BeginForm("AddShoppingList", "ShoppingList"))
        {
            @Html.TextBox("shoppinglistToAddName", @ShoppingListApp.i18n.Resources.Views.ShoppingList.ShoppingListsCommon.YourShoppingListName, new { @autofocus = "autofocus" })
            <button typeof="submit" class="btn btn-success">@ShoppingListApp.i18n.Resources.Views.ShoppingList.ShoppingListsCommon.AddNewShoppingList</button>
        }
    </div>
</div>
<div>
    @Html.Partial("BackToMainMenu")
</div>

