@model IEnumerable<ShoppingList>

<div style="margin-bottom:10px;">
    @Html.Partial("BackToMainMenu")
</div>

<div class="panel panel-primary">
    <div class="panel-heading text-uppercase">
        <h1 class="panel-title">@ShoppingListApp.I18N.Resources.Views.Home.IndexCommon.ShoppingLists</h1>
    </div>

    <div class="panel-body">
        <table class="table">
            <tbody>
                @foreach (ShoppingList shoppinglist in @Model.OrderByDescending(shoppinglist => shoppinglist.ShoppingListDueDate))
                {
                    <tr>
                        <td style="width:70%">
                            @shoppinglist.ShoppingListName
                        </td>
                        <td>
                            <a href="@Url.Action("ShowShoppingList", "ShoppingList", new { shoppinglistId = shoppinglist.ShoppingListId })" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search"></span>
                            </a>
                        </td>
                        <td class="">
                            <a href="@Url.Action("ModifyShoppingList", "ShoppingList", new { shoppinglistId = shoppinglist.ShoppingListId })" class="btn btn-primary">
                                <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="top" title="@ShoppingListApp.I18N.Resources.Views.ShoppingList.ShoppingListsCommon.FullEdit"></span>
                            </a>
                        </td>
                        <td class="">
                            <a href="@Url.Action("FastModifyShoppingList", "ShoppingList", new { shoppinglistId = shoppinglist.ShoppingListId })" class="btn btn-primary">
                                <span class="glyphicon glyphicon-edit" data-toggle="tooltip" data-placement="top" title="@ShoppingListApp.I18N.Resources.Views.ShoppingList.ShoppingListsCommon.FastEdit"></span>
                            </a>
                        </td>
                        <td class="right">
                            @using (@Html.BeginForm("RemoveShoppingList", "ShoppingList"))
                            {
                                @Html.Hidden("shoppinglistToRemoveId", shoppinglist.ShoppingListId)
                                <button type="submit" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="panel-footer clearfix">
        @using (@Html.BeginForm("AddShoppingList", "ShoppingList"))
        {
            <div class="input-group"> 
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
                @Html.TextBox("shoppinglistToAddName", null, new { @class = "form-control", @placeholder = @ShoppingListApp.I18N.Resources.Views.ShoppingList.ShoppingListsCommon.YourShoppingListName })    
            </div>
        }
    </div>
</div>
<div>
    @Html.Partial("BackToMainMenu")
</div>

