@model ShoppingList

<div class="panel panel-primary">
    <div class="panel-heading text-uppercase">
        <span class="pull-right">@Model.ShoppingListDueDate.ToString("d", ConfiguredCultures.getCurrentUICulture())</span>
        <h1 class="panel-title">@Model.ShoppingListName</h1> 
    </div>

    <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>@ShoppingListApp.i18n.Resources.Views.ShoppingList.ShoppingListsCommon.Name</th>
                        <th>@ShoppingListApp.i18n.Resources.Views.ShoppingList.ShoppingListsCommon.Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ShoppingListLine line in @Model.ShoppingListContent)
                    {
                        <tr>
                            <td>
                                @line.ItemToBuy.ItemName
                            </td>
                            <td>
                                @line.QuantityToBuy
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
    </div>

    <div class="panel-footer clearfix">
        <a href='javascript:window.print()' class="glyphicon glyphicon-print pull-right"></a>
    </div>
</div>
<div>
    @Html.Partial("BackToShoppingLists")
</div>