@using ShoppingListApp.i18n.Utils;
@using ShoppingListApp.Domain.Entities;
@model ShoppingList

<div class="container-fluid">
    <div class="row">
        <span class="btn btn-primary navbar-btn btn-lg text-uppercase">@Model.ShoppingListName</span>
        <span class="pull-right">@Model.ShoppingListDueDate.ToString("d", CultureHelper.getCurrentUICulture())</span>
            
    </div>

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>@ShoppingListApp.i18n.Resources.Views.ShoppingList.ShoppingListsCommon.Name</th>
                    <th>@ShoppingListApp.i18n.Resources.Views.ShoppingList.ShoppingListsCommon.Quantity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ShoppingListLine line in @Model.ShoppingListContent)
                {
                    <tr>
                        <td class="">
                            @line.ArticleToBuy.ArticleName
                        </td>
                        <td class="">
                            @line.QuantityToBuy
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <a href='javascript:window.print()' class="glyphicon glyphicon-print btn-default pull-right"></a>
    </div>

    @Html.Partial("BackToShoppingLists")
</div>

