@model String

<div class="panel panel-primary">
    <div class="panel-heading text-uppercase text-center">
        <h1 class="panel-title">@ShoppingListApp.i18n.Resources.Views.Shared._Layout.AppTitle</h1>
    </div>
    
    @if (User.Identity.IsAuthenticated)
    {
        <div class="panel-body">
            <div class="btn-group-vertical btn-group-justified">
                <div>
                    @Html.ActionLink(@ShoppingListApp.i18n.Resources.Views.Home.IndexCommon.DueShoppingList, "ShowShoppingList", "ShoppingList", null, new { @class = "btn btn-success btn-lg btn-block" })
                </div>
                <div>
                    @Html.ActionLink(@ShoppingListApp.i18n.Resources.Views.Home.IndexCommon.ShoppingLists, "ShoppingLists", "ShoppingList", null, new { @class = "btn btn-success btn-lg btn-block" })
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    @Html.ActionLink(@ShoppingListApp.i18n.Resources.Views.Home.IndexCommon.Items, "Articles", "Article", null, new { @class = "btn btn-success" })
                </div>
                <div class="btn-group">
                    @Html.ActionLink(@ShoppingListApp.i18n.Resources.Views.Home.IndexCommon.Admin, "Admin", "Home", null, new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="panel-body">
            @Html.ActionLink(@ShoppingListApp.i18n.Resources.Views.Shared._Layout.SignInMessage, "LogIn", "Home", null, new { @class = "btn btn-primary center-block" })
        </div>
        <div class="panel-footer">
        </div>
    }
</div>
