<div class="text-center container-fluid table" style="vertical-align:central">
    <div class="row">
        <div class=""><span class="btn btn-primary text-justify navbar-btn btn-lg btn-block text-uppercase">@ShoppingListApp.i18n.Resources.Views.Home.IndexCommon.AppTitle</span></div>
    </div>
    <div class="row">
        <span class="">@Html.ActionLink(@ShoppingListApp.i18n.Resources.Views.Home.IndexCommon.Articles, "Articles", "Article", null, new { @class = "btn btn-success btn-lg btn-block" })</span>
    </div>
    <div class="row">
        <span class="">@Html.ActionLink(@ShoppingListApp.i18n.Resources.Views.Home.IndexCommon.ShoppingLists, "ShoppingLists", "ShoppingList", null, new { @class = "btn btn-success btn-lg btn-block" })</span>
    </div>
    <div class="row">
        <span class="">@Html.ActionLink(@ShoppingListApp.i18n.Resources.Views.Home.IndexCommon.DueShoppingList, "ShowShoppingList", "ShoppingList", null, new { @class = "btn btn-success btn-lg btn-block" })</span>
    </div>
    <div class="row">
        <span class="">@Html.ActionLink(@ShoppingListApp.i18n.Resources.Views.Home.IndexCommon.BackupEmail, "Backup", "Home", null, new { @class = "btn btn-success btn-lg btn-block" })</span>
        @if (TempData["backup"] != null)
        {
            <span class="alert-success">@TempData["backup"]</span>
        }
    </div>
</div>
