@model String

<div class="panel panel-primary">
    <div class="panel-heading text-uppercase text-center">
        <h1 class="panel-title">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            @ShoppingListApp.I18N.Resources.Views.Shared._Layout.AppTitle
        </h1>
    </div>
    
    @if (User.Identity.IsAuthenticated)
    {
        <div class="panel-body">
            <div class="btn-group btn-group-justified">
                    <a href="@Url.Action("ShoppingLists", "ShoppingList")" class="btn btn-success btn-lg btn-block">
                        <span class="glyphicon glyphicon-pencil"></span>
                        @ShoppingListApp.I18N.Resources.Views.Home.IndexCommon.ShoppingLists
                    </a>
            </div>
        </div>
        <div class="panel-footer">
            <div class="btn-group btn-group-justified">
                <a href="@Url.Action("Items", "Item")" class="btn btn-success btn-block">
                    <span class="glyphicon glyphicon-plus"></span>
                    @ShoppingListApp.I18N.Resources.Views.Home.IndexCommon.Items
                </a>
                <a href="@Url.Action("Categories", "Category")" class="btn btn-success btn-block">
                    <span class="glyphicon glyphicon-plus"></span>
                    @ShoppingListApp.I18N.Resources.Views.Home.IndexCommon.Categories
                </a>
                
            </div>

            <div class="btn-group btn-group-justified">
                <a href="@Url.Action("Admin", "Admin")" class="btn btn-success btn-block">
                    <span class="glyphicon glyphicon-wrench"></span>
                    @ShoppingListApp.I18N.Resources.Views.Home.IndexCommon.Admin
                </a>               
            </div>
        </div> 
    }
    else
    {
        <div class="panel-body">
            @Html.ActionLink(@ShoppingListApp.I18N.Resources.Views.Shared._Layout.SignInMessage, "LogOn", "Home", null, new { @class = "btn btn-primary center-block" })
        </div>
        <div class="panel-footer">
        </div>
    }
</div>
