<div class="panel panel-primary">
    <div class="panel-body">
        <a href="@Url.Action("BackupAll", "Home")" class="btn btn-success btn-lg btn-block">
            <span class="glyphicon glyphicon-envelope"></span>
            @ShoppingListApp.I18N.Resources.Views.Home.IndexCommon.BackupEmail
        </a>
    </div>
    <div class="panel-footer">
        @if (TempData["backup"] != null)
        {
            <span class="alert-success">@TempData["backup"]</span>
        }
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-body">
        @using (@Html.BeginForm("RestoreAllBackups", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <button type="submit" class="btn btn-success btn-lg btn-block">
                <span class="glyphicon glyphicon-open"></span>
                @ShoppingListApp.I18N.Resources.Views.Home.IndexCommon.RestoreBackup
            </button>
            <input type="file" class="filestyle" name="fileToRestore" data-buttonbefore="true" data-iconname="glyphicon-list" data-buttontext="" />
        }
    </div>
    <div class="panel-footer">
        @if (TempData["allBackupsToRestore"] != null)
        {
            <div class="alert-success">@TempData["allBackupsToRestore"]</div>
        }
    </div>
</div>
<div>
    @Html.Partial("BackToMainMenu")
</div>

