<div class="panel panel-primary">
    <div class="panel-body">
        <a href="@Url.Action("Backup", "Admin")" class="btn btn-success btn-lg btn-block">
            <span class="glyphicon glyphicon-envelope"></span>
            @ShoppingListApp.I18N.Resources.Views.Home.IndexCommon.BackupEmail
        </a>
    </div>
    <div class="panel-footer">
        @if (TempData["backup"] != null)
        {
            <span class="alert-success">@TempData["backup"]</span>
        }
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-body">
        @using (@Html.BeginForm("RestoreBackup", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <button type="submit" class="btn btn-success btn-lg btn-block">
                <span class="glyphicon glyphicon-open"></span>
                @ShoppingListApp.I18N.Resources.Views.Home.IndexCommon.RestoreBackup
            </button>
            <div style="text-wrap:none !important">
                <input type="file" class="filestyle" name="fileToRestore" data-buttonbefore="true" data-iconname="glyphicon-list-alt" data-buttontext="" />
            </div>
        }
    </div>
    <div class="panel-footer">
        @if (TempData["restoreBackup"] != null)
        {
            <div class="alert-success">@TempData["restoreBackup"]</div>
        }
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-body">
        <a href="@Url.Action("RestoreDefaults", "Admin")" class="btn btn-danger btn-block">
            <span class="glyphicon glyphicon-wrench"></span>
            @ShoppingListApp.I18N.Resources.Views.Home.IndexCommon.Defaults
        </a>
    </div>
    <div class="panel-footer">
        @if (TempData["defaults"] != null)
        {
            <div class="alert-success">@TempData["defaults"]</div>
        }
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-body">
        <a href="@Url.Action("DeleteData", "Admin")" class="btn btn-danger btn-block">
            <span class="glyphicon glyphicon-wrench"></span>
            @ShoppingListApp.I18N.Resources.Views.Home.IndexCommon.DeleteData
        </a>
    </div>
    <div class="panel-footer">
        @if (TempData["deleted"] != null)
        {
            <div class="alert-success">@TempData["deleted"]</div>
        }
    </div>
</div>

<div>
    @Html.Partial("BackToMainMenu")
</div>